.header {
    position: absolute;
    padding-left: 32px;
    left: 0;
    top: 0;
    background-color: transparent;
    width: 100%;
    z-index: 100;
}

.nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_storename {
    color: #FFFFFF;
}

.nav_list {
    padding-right: 32px;
    display: flex;
    column-gap: 32px;
}

.nav_link {
    color: var(--title-color);
}